.button-expand {
  padding: 0;
  margin: 0 2px 0 -15px;
  border: none;
  background: none;
  font-size: 0;
  vertical-align: middle;
  cursor: pointer;
}

.button-expand::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  color: #999;
  background-image: url("./ButtonExpand.svg");
  background-position: center;
  background-size: 13px;
  vertical-align: middle;
  opacity: 0.35;
  transform: rotate(-90deg);
  transition: 0.2s;
  transition-property: opacity, transform;
}

.button-expand:hover::before {
  opacity: 1;
}

.button-expand.expanded::before {
  transform: rotate(0);
}

.button-expand.disabled {
  visibility: hidden;
}
