.fiber-tree-header {
  background: white;
}
.fiber-tree-header__path {
  max-height: 50px;
  overflow: auto;
  padding: 3px 6px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #ddd;
  font-size: 11px;
  line-height: 15px;
  color: #888;
}
.fiber-tree-header__path::before {
  content: "Pinned path: ";
}
.fiber-tree-header-fiber-link {
  display: inline-block;
}
.fiber-tree-header-fiber-link:not(:last-child)::after {
  content: "\a0→\a0";
  color: #aaa;
}
.fiber-tree-header-fiber-link__name {
  text-decoration: underline;
  text-decoration-color: #8885;
  color: #777;
  cursor: pointer;
}
.fiber-tree-header-fiber-link__name:hover {
  color: #555;
}
