.tree-leaf.render-root {
  --scroll-margin-top: 23px;
}
.tree-leaf.render-root:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.tree-leaf-caption.render-root + .tree-leaf {
  margin-top: 1px;
}
