.tree-leaf-timings {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: inherit;
}
.tree-leaf-timings__time {
  display: inline-block;
  box-sizing: border-box;
  width: 45px;
  padding: 1px 5px 0 0;
  text-align: right;
  font-size: 10px;
  color: #888;
}
