.tree-leaf-caption {
  display: flex;
  box-sizing: border-box;
  border: solid transparent;
  border-width: 1px 0;
  background-color: white;
  white-space: nowrap;
  color: #0279c9;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
}

.tree-leaf-caption.render-root {
  --scroll-margin-top: 0px;

  border-top: none;
  border-color: #ddd;
  background-color: #f4f4f4;
  color: #666;
}
.fiber-tree .tree-leaf-caption.render-root {
  position: sticky;
  z-index: 2;
  top: 0;
  margin-bottom: -1px;
}
.tree-leaf-caption.pinned:not(.render-root):not(.selected) {
  border-bottom-color: #ddd;
}
.tree-leaf-caption.pinned::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 18px;
  margin-right: -20px;
  background: url("../../images/pin.svg") no-repeat center 3px;
  background-size: 14px;
}

.tree-leaf-caption:hover {
  background-color: #eee;
}
.tree-leaf-caption:hover:not(.selected) {
  border-color: #e6e6e6;
}
.tree-leaf-caption.selected {
  background-color: #dde8f4;
  border-color: #cfdeef;
  cursor: default;
}
.tree-leaf-caption.selected.render-root {
  background-color: #deebf7;
}
.tree-leaf-caption.pinned {
  border-top-color: transparent;
}

.tree-leaf-caption__unpin-button {
  margin: 2px 1px 2px;
  padding: 0px 4px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.075);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
}
.tree-leaf-caption__unpin-button:hover {
  opacity: 1;
}
