.event-render-reason:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}

.event-render-reason {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 3px 4px;
  padding: 4px;
  line-height: 16px;
  color: #444;
}

.event-render-reason__context-name {
  display: inline-block;
  color: #0279c9;
}

.event-render-reason__type-badge {
  display: inline-block;
  align-self: flex-start;
  margin-left: -8px;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 9px;
  line-height: 10px;
  text-transform: uppercase;
  border: 1px solid #cecbac;
  background-color: #f5f3de;
  color: #a09f6e;
}
.event-render-reason__type-badge_has-warning::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: 1px;
  margin-right: -2px;
  margin-bottom: -1px;
  width: 10px;
  height: 10px;
  background: url("../../../images/warning-exc-sign.svg") no-repeat center
    #eab439;
  background-size: 6px;
  background-clip: content-box;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.65);
}

.event-render-reason > .fiber-id {
  margin-left: 1px;
}
