.event-list-item[data-type="fiber"] .event-list-item__content {
  min-height: 23px;
}
.event-list-item[data-type="fiber"] .event-list-item__main {
  gap: 1px 8px;
  padding: 0 4px 2px 0;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
}

.event-list-item[data-type="fiber"] .details-fiber {
  padding: 4px 0 0;
}
.event-list-item[data-type="fiber"] .details-fiber__name_selected {
  padding: 2px 8px 2px 25px;
  margin: -3px -2px -1px -26px;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 10px;
  background-color: var(--selected-fiber-bg-color, #eee);
  background-clip: padding-box;
  color: var(--selected-fiber-color, #888);
}

.event-list-item .event-changes-summary {
  margin-top: 2px;
}
.event-list-item .event-changes-summary.expanded {
  margin-top: 1px;
  margin-bottom: -4px;
  padding-top: 2px;
  padding-bottom: 5px;
}

.event-list-item .special-reason {
  margin-top: 2px;
}
.event-list-item .special-reason .source-loc {
  background-color: #f8e6ff;
  background-position-x: 3px;
  padding: 2px 4px 2px 14px;
  font-size: 10px;
  border-radius: 3px;
  line-height: 10px;
  border: 1px solid #dec6e7;
}
.event-list-item .special-reason .source-loc:hover {
  color: #9366a5;
}
