.waiting-for-ready {
  grid-area: render-tree;
  padding: 12px 16px;
  font-size: 13px;
  color: #888;
  visibility: hidden;
  opacity: 0;
}
.waiting-for-ready.visible {
  visibility: visible;
  opacity: 1;
  transition: 0.5s opacity;
}
