@keyframes waiting-for-renderer-appear {
  from,
  33% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.waiting-for-renderer {
  padding: 12px 16px;
  font-size: 13px;
  color: #888;
  animation: 1.5s 1 waiting-for-renderer-appear;
}
