@keyframes waiting-for-renderer-appear {
  from,
  33% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.waiting-for-renderer {
  padding: 12px 16px;
  font-size: 13px;
  color: #888;
  animation: 1.5s 1 waiting-for-renderer-appear;
}

.unsupported-renderers {
  margin: 1em 0 0;
  color: #a07b36;
}
.unsupported-renderers__list {
  margin: 0;
  padding: 0 0 0 20px;
}
