.app {
  display: grid;
  grid-template:
    "toolbar" auto
    "render-tree" 1fr
    "statusbar" auto;
  height: 100vh;
  overflow: hidden;
}

.app[data-has-selected] {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "toolbar toolbar"
    "render-tree details"
    "statusbar statusbar";
}

.app-waiting-for-react {
  grid-area: render-tree;
  padding: 12px 16px;
  font-size: 13px;
  color: #888;
  visibility: hidden;
  opacity: 0;
}
.app-waiting-for-react.visible {
  visibility: visible;
  opacity: 1;
  transition: 0.5s opacity;
}
