.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app__content {
  flex: 1;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.app__content > div {
  flex: 1;
  flex-shrink: 0;
  overflow: auto;
}

.app__content > div + div {
  border-left: 1px var(--border) solid;
}
