.app {
  display: grid;
  grid-template:
    "toolbar" auto
    "render-tree" 1fr;
  height: 100vh;
  overflow: hidden;
}

.app[data-has-selected] {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "toolbar toolbar"
    "render-tree details";
}
