@import url("./App.css");
@import url("./components/common/ButtonToggle.css");
@import url("./components/common/FiberHocNames.css");
@import url("./components/common/FiberId.css");
@import url("./components/common/FiberKey.css");
@import url("./components/details/Details.css");
@import url("./components/details/EventList.css");
@import url("./components/details/EventListItem.css");
@import url("./components/details/EventRenderReasons.css");
@import url("./components/details/EventRenderReasonsItem.css");
@import url("./components/render-tree/ButtonExpand.css");
@import url("./components/render-tree/Tree.css");
@import url("./components/render-tree/TreeLeaf.css");
@import url("./components/render-tree/TreeLeafCaption.css");
@import url("./components/statusbar/StatusBar.css");
@import url("./components/toolbar/ComponentFilter.css");
@import url("./components/toolbar/Toolbar.css");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", "monospace";
  font-size: 14px;
  line-height: 21px;
  color: var(--text);
  background-color: transparent;
}

:root {
  --text: #323334;
  --text-muted: #a1a1a1;
  --icon: #999999;
  --primary: #0279c9;
  --brand: #3fc1e2;
  --border: rgba(234, 234, 234, 1);
}
