@import "./styles/tailwind.css";
@import url("./App.css");
@import url("./components/toolbar/ComponentFilter.css");
@import url("./components/toolbar/Toolbar.css");
@import url("./components/common/ButtonCollapse.css");
@import url("./components/common/ButtonToggle.css");
@import url("./components/common/Card.css");
@import url("./components/common/ElementId.css");
@import url("./components/details/Details.css");
@import url("./components/details/EventList.css");
@import url("./components/details/EventRenderReasonDetails.css");
@import url("./components/tree/TreeLeaf.css");
@import url("./components/tree/TreeLeafCaption.css");
@import url("./components/tree/ElementHocNames.css");

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", "monospace";
  font-size: 14px;
  color: var(--text);

  --text: #323334;
  --text-muted: #a1a1a1;
  --icon: #999999;
  --primary: #0279c9;
  --brand: #3fc1e2;
  --border: rgba(234, 234, 234, 1);
}
