.statusbar {
  grid-area: statusbar;
  display: flex;
  border-top: 1px solid #ddd;
  line-height: 12px;
  font-size: 10px;
  color: #aaa;
}

.statusbar__summary {
  flex: 1;
  padding: 4px 8px;
}

.statusbar__paused {
  display: flex;
  align-items: center;
  padding: 2px 2px;
}
.statusbar__paused::before {
  content: "paused";
  border: 1px solid #e5d88c;
  background: #fdfcde;
  color: #c7b639;
  border-radius: 2px;
  padding: 1px 3px;
  text-transform: uppercase;
  font-size: 9px;
  vertical-align: top;
}

.statusbar__pending {
  position: relative;
  padding: 4px;
  min-width: 90px;
  border-left: 1px solid #eee;
  text-align: center;
}
.statusbar__pending::before,
.statusbar__pending::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 4px;
  right: 4px;
  height: 2px;
  background-color: #ddd;
}
.statusbar__pending::after {
  right: auto;
  width: calc(var(--progress, 0) - 8px);
  transition: width 100ms ease-out;
  background-color: #44a0dd;
}

.statusbar__event-type-count {
  border-left: 1px solid #eee;
  padding: 4px;
}
.statusbar__event-type-count::before {
  content: attr(data-type) "s: ";
  color: #ccc;
}
