.details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-left: 1px solid #ddd;
  transform: translateZ(0);
}

.details__info-section {
  max-height: 40%;
  overflow: auto;
  overscroll-behavior: contain;
}

.details__event-list-header {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f4f4f4;
}
.details__event-list-header-caption {
  flex: 1;
  padding-left: 8px;
  text-align: left;
  font-size: 11px;
  color: #888;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.details__subtree-toggle {
  align-items: baseline;
  padding-top: 2px;
  padding-bottom: 3px;
  color: #888;
  font-size: 10px;
  line-height: 16px;
  border-radius: 0;
}
.details__subtree-toggle::after {
  padding: 0 0 0 4px;
  content: "include subtree";
  position: relative;
  top: 1px;
}

.details__event-list {
  flex: 1;
  overflow: auto;
  overflow-y: scroll;
  overscroll-behavior: contain;
  display: flex;
  flex-direction: column;
}
