.details {
  grid-area: details;
  overflow: auto;
  overscroll-behavior: contain;
  border-left: 1px solid #ddd;
}
.details__header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #ddd;
  background-color: #f4f4f4;
}
.details__header-caption {
  flex: 1;
  padding-left: 4px;
  text-align: left;
  font-size: 11px;
  color: #888;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.details__subtree-toggle {
  padding-top: 2px;
  padding-bottom: 3px;
  color: #888;
  font-size: 10px;
}
.details__subtree-toggle:hover,
.details__subtree-toggle.active {
  color: #3ca8c3;
  background: #e8e8e8;
}
.details__subtree-toggle::after {
  padding: 0 4px;
  content: "include subtree";
}
