.event-render-reason:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}

.event-render-reason td {
  vertical-align: baseline;
  padding: 4px 2px;
  line-height: 16px;
  color: #444;
}

.event-render-reason .event-render-reason__type {
  padding-left: 10px;
  line-height: 14px;
}
.event-render-reason__type-badge {
  padding: 1px 4px;
  border-radius: 3px;
  font-size: 11px;
  font-family: monospace;
  background-color: #e48e8e;
  color: white;
}

.event-render-reason__value-change {
  width: 100%;
  line-height: 12px;
  padding-top: 3px;
}

.event-render-reason__value-change code {
  color: #1e9611;
  background-color: #ecf3ed;
  padding: 2px 4px;
  border-radius: 4px;
}
.event-render-reason__value-change code.removed {
  background-color: #f3ecec;
  color: #e24646;
}

.event-render-reason__diff-bracket {
  position: relative;
  top: -1px;
  font-family: monospace;
  color: #aaa;
}
.event-render-reason__diff-line {
  display: block;
  padding-left: 12px;
  font-size: 12px;
  line-height: 18px;
  color: #444;
}
.event-render-reason__diff-line .key {
  font-family: monospace;
  color: #9c913b;
}
.event-render-reason__diff-line.added .key {
  color: #359c42;
}
.event-render-reason__diff-line.added .key::before {
  content: "+";
  margin-left: -1ch;
  opacity: 0.65;
}
.event-render-reason__diff-line.removed {
  color: #e24646;
}
.event-render-reason__diff-line.removed .key::before {
  content: "-";
  margin-left: -1ch;
  opacity: 0.65;
}
.event-render-reason__diff-line.removed .key {
  color: inherit;
}
.event-render-reason__diff-line.removed code {
  background-color: #f3ecec;
  color: inherit;
}
.event-render-reason__diff-rest {
  display: block;
  padding-left: 12px;
  font-size: 10px;
  color: #aaa;
}

.event-render-reason__value-change-path {
  font-size: 11px;
  color: #888;
}
.event-render-reason__value-change-path-more {
  cursor: pointer;
  padding: 3px 3px;
  outline: 1px solid white;
  border-radius: 3px;
  background-color: #eee;
  font-size: 10px;
}
.event-render-reason__value-change-path-more:hover {
  background-color: #ddd;
}
