.event-list-item:hover {
  background-color: #eee;
}

.event-list-item__time {
  min-width: 36px;
  padding: 6px 4px 1px;
  vertical-align: top;
  text-align: right;
  border-right: 1px solid #ddd;
  font-size: 10px;
  line-height: 12px;
  color: #888;
}

.event-list-item__event-type {
  padding: 1px 0 0 1px;
  vertical-align: top;
  font-size: 11px;
  line-height: 13px;
}
.event-list-item__event-type-label {
  display: inline-block;
  vertical-align: top;
  padding: 4px 4px 5px;
  width: 8ex;
  text-align: center;
  background: #e8e8e8;
  color: #777;
}
.event-list-item__event-type-label[data-type="mount"] {
  /* background-color: #b8d877; */
  background-color: #cbe4b4;
  color: #5a7b3b;
}
.event-list-item__event-type-label[data-type="rerender"] {
  /* background-color: #f1e27c; */
  background-color: #eaeac6;
  color: #71712f;
}

.event-list-item__owner-update {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 3px;
  padding: 0px 2px;
  border-radius: 3px;
  background-color: #eaeac6;
  color: #8a8a4a;
  font-size: 9px;
}
.event-list-item__owner-update::before {
  content: "⬇O";
}

.event-list-item__changes {
  display: inline-block;
}

.event-list-item__details {
  width: 100%;
  padding: 5px 5px 0 4px;
  text-align: left;
  vertical-align: baseline;
  font-size: 12px;
  line-height: 14px;
}
.event-list-item__name {
  color: var(--primary);
}
.event-list-item__name_unmounted {
  color: var(--text-muted);
  text-decoration: line-through;
  text-decoration-color: #888;
}
