.event-render-reasons > td {
  padding-top: 0;
  padding-bottom: 0;
}
.event-render-reasons__list {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  background: #f7f7f7;
  font-size: 12px;
}
