.event-render-reasons > td {
  padding-top: 0;
  padding-bottom: 0;
}
.event-render-reasons__list {
  margin: 0 4px 4px 4px;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  background: #f7f7f7;
  font-size: 12px;
}
