.event-render-reason:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}

.event-render-reason {
  vertical-align: baseline;
  padding: 4px;
  padding-left: 16px;
  line-height: 16px;
  color: #444;
}

.event-render-reason .event-render-reason__type {
  padding-left: 10px;
  line-height: 14px;
}
.event-render-reason__type-badge {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: -8px;
  margin-right: 2px;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 9px;
  line-height: 10px;
  text-transform: uppercase;
  border: 1px solid #e5e2bd;
  background-color: #f5f3de;
  color: #a09f6e;
}

.event-render-reason code {
  padding: 2px 4px;
  border-radius: 4px;
  color: #1e9611;
  background-color: #ecf3ed;
  font-family: Consolas, monospace;
}
.event-render-reason code.removed {
  background-color: #f3ecec;
  color: #e24646;
}

.event-render-reason__diff-bracket {
  position: relative;
  top: -1px;
  font-family: monospace;
  color: #aaa;
}
.event-render-reason__diff-line {
  display: block;
  padding-left: 16px;
  margin: 2px 0 0;
  font-size: 12px;
  line-height: 18px;
  color: #444;
}
.event-render-reason__diff-line .key {
  color: #9c913b;
}
.event-render-reason__diff-line.added .key {
  color: #359c42;
}
.event-render-reason__diff-line.added .key::before {
  content: "+";
  margin-left: calc(-1ch - 4px);
  margin-right: 4px;
  font-family: monospace;
  opacity: 0.65;
}
.event-render-reason__diff-line.removed {
  color: #e24646;
}
.event-render-reason__diff-line.removed .key::before {
  content: "-";
  margin-left: calc(-1ch - 4px);
  margin-right: 4px;
  font-family: monospace;
  opacity: 0.65;
}
.event-render-reason__diff-line.removed .key {
  color: inherit;
}
.event-render-reason__diff-line.removed code {
  background-color: #f3ecec;
  color: inherit;
}
.event-render-reason__diff-rest {
  display: block;
  padding-left: 12px;
  font-size: 10px;
  color: #aaa;
}

.event-render-reason__value-change-path {
  font-size: 11px;
  color: #888;
}
.event-render-reason__value-change-path-more {
  cursor: pointer;
  padding: 3px 3px;
  outline: 1px solid white;
  border-radius: 3px;
  background-color: #eee;
  font-size: 10px;
}
.event-render-reason__value-change-path-more:hover {
  background-color: #ddd;
}

.event-render-reason__shallow-equal {
  display: inline-block;
  margin-top: 2px;
  padding: 2px 4px 2px 16px;
  border: 1px solid #ece3b0;
  border-radius: 2px;
  background: #fdfcde url("./img/warning.svg") no-repeat 4px center;
  background-size: 9px;
  font-size: 10px;
  line-height: 11px;
  color: #b39b20;
}
