.fiber-event-list {
  flex: 1;
  position: relative;
}
.fiber-event-list_show-timings::before {
  content: "";
  position: absolute;
  top: 0;
  left: 44px;
  bottom: 0;
  z-index: 10;
  box-sizing: border-box;
  width: 46px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  pointer-events: none;
}

.fiber-event-list__no-events {
  padding: 1em 2ex;
  text-align: center;
  color: #888;
}

.fiber-event-list__show-more {
  display: flex;
  gap: 0 2px;
  padding: 3px;
}
.fiber-event-list__show-more button {
  vertical-align: top;
  color: #444;
  min-height: 0;
  padding: 3px 8px 3px;
  margin: 0;
  background-color: #ffffff1a;
  border: 1px solid rgba(127, 127, 127, 0.4);
  border-radius: 3px;
  font-size: 11px;
  line-height: 13px;
  font-family: system-ui, Arial, sans-serif;
  cursor: pointer;
}
.fiber-event-list__show-more button:hover,
.fiber-event-list__show-more button:active,
.fiber-event-list__show-more button:focus {
  background-color: #dddddd4d;
  border-color: #aaa9;
  outline: none;
}
.fiber-event-list__show-more button:active {
  background-color: #83838340;
  border-color: #7f7f7f66;
}
