.event-list-item:hover {
  background-color: #eee;
}

.event-list-item__time {
  min-width: 36px;
  padding: 6px 4px 1px;
  vertical-align: top;
  text-align: right;
  border-right: 1px solid #ddd;
  font-size: 10px;
  line-height: 12px;
  color: #888;
}

.event-list-item__main {
  width: 100%;
  padding: 5px 5px 0 4px;
  text-align: left;
  vertical-align: baseline;
  font-size: 12px;
  line-height: 14px;
}
.event-list-item__name {
  display: inline-block;
  margin-bottom: 4px;
  color: var(--primary);
}
.event-list-item__name_unmounted {
  color: var(--text-muted);
  text-decoration: line-through;
  text-decoration-color: #888;
}

.event-list-item__main .fiber-key {
  position: relative;
  top: -1px;
}

.event-list-item__update-trigger {
  display: inline-block;
  vertical-align: middle;
  margin-left: -14px;
  margin-top: -2px;
  margin-right: 3px;
  width: 14px;
  padding: 1px 6px 0 4px;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 0 8px 8px 0;
  background: #eaeac6 10px 2px no-repeat;
  background-size: 10px;
  background-image: url("./img/update-trigger.svg");
  background-clip: padding-box;
  color: transparent;
  font-size: 9px;
  cursor: default;
}
.event-list-item__update-trigger::before {
  content: "\a0";
}

.event-list-item__changes {
  display: inline-block;
  margin: -2px 0 2px 0;
  padding: 1px 4px 1px 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}
.event-list-item__changes.expanded {
  position: relative;
  border-color: #e8e8e8;
  border-bottom-color: transparent;
  background-color: #f7f7f7;
  margin-bottom: -1px;
  padding-bottom: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.event-list-item__changes:hover {
  background: #ddd;
  border-color: #ddd;
}
.event-list-item__changes::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 13px;
  height: 13px;
  background: no-repeat center;
  background-image: url("./img/expander.svg");
  background-size: 13px;
  transform: rotate(-90deg);
  opacity: 0.35;
  transition: 0.2s;
  transition-property: opacity, transform;
}
.event-list-item__changes:hover::before {
  opacity: 1;
}
.event-list-item__changes.expanded::before {
  transform: none;
}

.event-list-item__dots {
  overflow: hidden;
  padding: 5px 0px 0 4px;
  text-align: left;
  vertical-align: baseline;
  font-size: 12px;
  line-height: 14px;
}
.event-list-item__dot {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  font-size: 9px;
  border: 1px solid rgba(255, 255, 255, 0.65);
  background: #e8e8e8 center no-repeat;
  background-size: 11px;
  background-clip: padding-box;
  color: #777;
  cursor: default;
}
.event-list-item__dot[data-type="unmount"] {
  background-image: url("./img/event-unmount.svg");
  background-size: 13px;
}
.event-list-item__dot[data-type="mount"] {
  background-color: #cbe4b4;
  background-image: url("./img/event-mount.svg");
  background-size: 13px;
  color: #5a7b3b;
}
.event-list-item__dot[data-type="update"] {
  background-color: #efe6a9;
  background-image: url("./img/event-update.svg");
  color: #71712f;
}
.event-list-item__dot[data-type="effect-create"] {
  background-color: #bcddf5;
  background-image: url("./img/event-effect-create.svg");
  background-size: 13px;
}
.event-list-item__dot[data-type="effect-destroy"] {
  background-color: #e1c7ef;
  background-image: url("./img/event-effect-destroy.svg");
  background-size: 13px;
}
.event-list-item__dot_prev::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 100%;
  left: 5px;
  width: 3px;
  height: 50px;
  background-color: inherit;
  background-clip: padding-box;
  border: solid rgba(255, 255, 255, 0.65);
  border-width: 0 1px;
}
.event-list-item__dot_next::after {
  content: "";
  position: absolute;
  display: block;
  top: 100%;
  left: 5px;
  width: 3px;
  height: 50px;
  background-color: inherit;
  background-clip: padding-box;
  border: solid rgba(255, 255, 255, 0.65);
  border-width: 0 1px;
}
