.event-render-reason:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}

.event-render-reason {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 3px 4px;
  padding: 4px;
  line-height: 16px;
  color: #444;
}

.event-render-reason__context-name {
  display: inline-block;
  color: #0279c9;
}

.event-render-reason__type-badge {
  display: inline-block;
  align-self: flex-start;
  margin-left: -8px;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 9px;
  line-height: 10px;
  text-transform: uppercase;
  border: 1px solid #cecbac;
  background-color: #f5f3de;
  color: #a09f6e;
}

.event-render-reason > .fiber-id {
  margin-left: 1px;
}

.event-render-reason__value-change-path {
  font-size: 11px;
  color: #888;
}
.event-render-reason__value-change-path-list {
  margin: 2px 0 4px 12px;
  padding: 0;
  font-size: 11px;
  color: #444;
}
.event-render-reason__value-change-path-list li::marker {
  font-size: 10px;
  color: #888;
}
.event-render-reason__value-change-path-more,
.event-render-reason__value-change-show-paths {
  cursor: pointer;
  padding: 2px 3px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: #eee;
  font-size: 10px;
  color: #888;
}
.event-render-reason__value-change-path-more:hover,
.event-render-reason__value-change-show-paths:hover {
  background-color: #ddd;
}
.event-render-reason__value-change-show-paths {
  margin-right: 3px;
}
