.details-fiber-link {
  display: inline-block;
}
.details-fiber-link__name {
  text-decoration: underline;
  text-decoration-color: #0279c959;
  color: #0279c9;
  cursor: pointer;
}
.details-fiber-link__name:hover {
  color: #0398fc;
}
