.fiber-info {
  padding: 6px 8px 6px;
  font-size: 12px;
  line-height: 14px;
}

.fiber-info__header {
  color: #444;
  font-size: 14px;
  line-height: 16px;
}
.fiber-info__header-type-badge {
  display: inline-block;
  padding: 4px 4px 3px;
  margin-top: -3px;
  margin-bottom: 3px;
  border-radius: 3px;
  font-size: 9px;
  line-height: 10px;
  text-transform: uppercase;
  background-color: #d9ecd1;
  color: #88a06f;
}
.fiber-info__header-notes {
  margin-top: 1px;
  font-size: 10px;
  line-height: 12px;
  color: #bbb;
}
.fiber-info__header-notes .details-fiber-link__name {
  color: #999;
  text-decoration-color: #9995;
}
.fiber-info__header-notes .fiber-id {
  margin-left: 3px;
}

.fiber-info-section {
  margin: 8px 0 0 8px;
}
.fiber-info-section__header {
  margin-left: -8px;
  margin-bottom: 4px;
  text-transform: uppercase;
  line-height: 12px;
  font-size: 10px;
  color: #999;
}
.fiber-info-section__header-no-data {
  color: #bbb;
}
.fiber-info-section__header-no-data::before {
  content: " – ";
}

.fiber-info-fiber-context__reads {
  margin-left: 8px;
}
.fiber-info-fiber-context__no-provider {
  color: #a33;
}
.fiber-info-fiber-context__no-provider::before {
  content: " – ";
  color: #ccc;
}
