.fiber-info-header-content {
  color: #444;
  font-size: 14px;
  line-height: 16px;
}
.fiber-info-header-content .source-loc {
  margin-left: 6px;
  font-size: 11px;
  color: #777;
}

.fiber-info-header-prelude {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 2px 8px;
  margin-top: -2px;
  margin-left: -3px;
  margin-right: -4px;
  margin-bottom: 2px;
}
.fiber-info-header-prelude__content {
  display: flex;
  gap: 2px;
  flex: 1;
  white-space: nowrap;
}
.fiber-info-header-type-badge {
  display: inline-block;
  padding: 4px 4px 3px;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 9px;
  line-height: 10px;
  text-transform: uppercase;
  background-color: #eee;
  color: #888;
}
.fiber-info-header-type-badge[data-type="type"] {
  background-color: #d9ecd1;
  color: #88a06f;
}

.fiber-info-header-prelude__buttons {
  display: flex;
  padding-left: 2px;
}
.fiber-info-header-prelude__button {
  vertical-align: middle;
  padding: 2px 2px;
  margin-top: -2px;
  margin-bottom: -2px;
  background: none;
  border: none;
  color: #666;
}
.fiber-info-header-prelude__button[disabled] {
  color: #ccc;
}
.fiber-info-header-prelude__button:not([disabled]):hover {
  cursor: pointer;
  color: #222;
}
.fiber-info-header-prelude__button.selected {
  background: #e8e8e8;
  border-radius: 3px;
}
.fiber-info-header-prelude__button svg {
  vertical-align: middle;
  height: 12px;
  margin: -3px 0 0;
}

.fiber-info-instance-iterator {
  color: #999;
  display: flex;
  align-items: center;
}
.fiber-info-instance-iterator__label {
  white-space: nowrap;
  margin-right: 6px;
}
.fiber-info-instance-iterator .fiber-info-header-prelude__buttons {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-right: 2px;
  margin-right: 3px;
}
.fiber-info-instance-iterator .fiber-info-header-prelude__button svg {
  width: 14px;
}

.fiber-info-header-notes {
  margin-top: 1px;
  font-size: 10px;
  line-height: 12px;
  color: #bbb;
}
.fiber-info-header-notes .details-fiber-link__name {
  color: #999;
  text-decoration-color: #9995;
}
.fiber-info-header-notes .fiber-id {
  margin-left: 3px;
}
