.app-page-components {
  display: grid;
  grid-template:
    "toolbar"
    "content";
  grid-template-rows: auto 1fr;
}

.app-page-components .app-page-content-wrapper {
  grid-area: content;
  overflow-y: scroll;
  overflow-x: auto;
  position: relative;
}
.app-page-components .app-page-content {
  position: absolute;
  min-width: 100%;
}
