.app-page-maybe-leaks {
  display: grid;
  grid-template:
    "toolbar"
    "content";
  grid-template-rows: auto 1fr;
}
.app-page-maybe-leaks[data-has-selected] {
  grid-template-areas:
    "toolbar toolbar"
    "content details";
  grid-template-columns: 1fr 1fr;
}
.app-page-maybe-leaks .app-page-content-wrapper {
  grid-area: content;
  overflow-y: scroll;
  overflow-x: auto;
  position: relative;
}
.app-page-maybe-leaks .app-page-content {
  position: absolute;
  min-width: 100%;
}
