.button-toggle {
  display: block;
  background: none;
  border: none;
  padding: 6px;
  cursor: pointer;
  line-height: 0;
}

.button-toggle svg {
  height: 16px;
  width: 16px;
  vertical-align: middle;
  color: #aaa;
  transition: 0.2s;
}

.button-toggle.active svg,
.button-toggle:hover svg {
  color: #3fc1e2;
}
