.button-collapse {
  padding: 0 2px;
  border: none;
  background: none;
  font-size: 0;
  vertical-align: middle;
  cursor: pointer;
}

.button-collapse::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  color: var(--icon);
  background-image: url("./ButtonExpand.svg");
  background-position: center;
  background-size: 13px;
  vertical-align: middle;
  opacity: 0.35;
  transform: rotate(-90deg);
  transition: 0.2s;
  transition-property: opacity, transform;
}

.button-collapse:hover::before {
  opacity: 1;
}

.button-collapse.expanded::before {
  transform: rotate(0);
}

.button-collapse.disabled {
  visibility: hidden;
}
