.button-collapse {
  padding: 0 2px;
  border: none;
  background: none;
  font-size: 0;
  vertical-align: middle;
  cursor: pointer;
}

.button-collapse svg {
  width: 13px;
  height: 13px;
  color: var(--icon);
  vertical-align: middle;
  transform: rotate(-90deg);
  transition: 0.2s;
  transition-property: color, transform;
}

.button-collapse:hover svg {
  color: black;
}

.button-collapse.expanded svg {
  transform: rotate(0);
}

.button-collapse.disabled {
  visibility: hidden;
}
