.element-key {
  margin-left: 7px;
  padding: 1px 5px 1px 2px;
  white-space: nowrap;
  border-radius: 0 4px 4px 0;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-left: none;
  background-color: #e8e8e8;
  background-clip: padding-box;
  color: #777;
  font-size: 10px;
}
.element-key::before {
  content: "";
  width: 6px;
  height: 13px;
  display: inline-block;
  background: no-repeat url("./img/element-key-tail.svg");
  vertical-align: middle;
  box-sizing: border-box;
  margin: -2px 3px -1px -7px;
}
