.fiber-key {
  margin-left: 7px;
  padding: 2px 5px 2px 2px;
  white-space: nowrap;
  border-radius: 0 4px 4px 0;
  border: 1px solid rgba(255, 255, 255, 0.65);
  background-color: #e8e8e8;
  background-clip: padding-box;
  color: #777;
  font-size: 10px;
}
.fiber-key::before {
  content: "";
  width: 6px;
  height: 17px;
  display: inline-block;
  background: no-repeat url("../../images/fiber-key-tail.svg");
  vertical-align: middle;
  box-sizing: border-box;
  margin: -4px 3px -3px -8px;
}
