.source-loc {
  padding-left: 11px;
  background-repeat: no-repeat;
  background-image: url("./img/source-loc.svg");
  background-size: 9px;
  background-position: left center;
  cursor: default;
}
.source-loc:hover {
  color: #7caf46;
}
.source-loc_openable {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}
.source-loc_openable:not(:hover) {
  text-decoration-color: #8886;
}
