.fiber-info-section {
  margin: 0 0 0 8px;
}
.fiber-info-section:first-child {
  margin-top: -6px;
}
.fiber-info-section_no-data {
  pointer-events: none;
}
.fiber-info-section_expanded:not(:last-child)::after {
  content: "";
  display: block;
  height: 10px;
}

.fiber-info-section__header {
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 4px 8px 4px 6px;
  margin-left: -16px;
  margin-right: -8px;
  text-transform: uppercase;
  line-height: 12px;
  font-size: 10px;
  color: #999;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(2px);
}
.fiber-info-section__header:hover {
  color: #555;
  cursor: pointer;
}
.fiber-info-section__header::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  width: 13px;
  height: 13px;
  margin-right: 1px;
  background: no-repeat left center;
  background-image: url("../../../images/expander.svg");
  background-size: 13px;
  transform: rotate(-90deg);
  opacity: 0.35;
  transition: 0.2s;
  transition-property: transform;
}
.fiber-info-section__header:hover::before {
  opacity: 1;
}
.fiber-info-section_expanded > .fiber-info-section__header {
  color: #555;
}
.fiber-info-section_expanded > .fiber-info-section__header::before {
  transform: rotate(0deg);
}
.fiber-info-section_no-data > .fiber-info-section__header::before {
  visibility: hidden;
}

.fiber-info-section__header-no-data {
  color: #bbb;
}
.fiber-info-section__header-no-data::before {
  content: " – ";
}
