.fiber-info-section {
  margin: 8px 0 0 8px;
}
.fiber-info-section__header {
  margin-left: -8px;
  margin-bottom: 4px;
  text-transform: uppercase;
  line-height: 12px;
  font-size: 10px;
  color: #999;
}
.fiber-info-section__header-no-data {
  color: #bbb;
}
.fiber-info-section__header-no-data::before {
  content: " – ";
}
