.fiber-info-section-consumers-type-group {
  margin-left: 0px;
}
.fiber-info-section-consumers-type-group__content {
  margin: 2px 0 0 26px;
  line-height: 16px;
}
.fiber-info-section-consumers-single-instance {
  margin-left: 14px;
}
.fiber-info-section-consumers-type-group:not(:first-child),
.fiber-info-section-consumers-single-instance:not(:first-child) {
  margin-top: 4px;
}

.fiber-info-section-consumers-single-instance_unmounted
  .details-fiber-link__name {
  color: #aaa;
  text-decoration: line-through;
  text-decoration-color: #888;
}

.fiber-info-section-consumers-type-group__header {
  color: #666;
  cursor: pointer;
}
.fiber-info-section-consumers-type-group__header:hover {
  color: #222;
}
.fiber-info-section-consumers-type-group__header::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  width: 13px;
  height: 13px;
  margin-right: 1px;
  background: no-repeat left center;
  background-image: url("../../../images/expander.svg");
  background-size: 13px;
  transform: rotate(-90deg);
  opacity: 0.35;
  transition: 0.2s;
  transition-property: transform;
}
.fiber-info-section-consumers-type-group__header:hover::before {
  opacity: 1;
}
.fiber-info-section-consumers-type-group__header_expanded::before {
  transform: rotate(0deg);
}
