.fiber-info-section-memo-content {
  margin: 0;
  padding-left: 16px;
}
.fiber-info-section-memo-content li {
  margin-bottom: 6px;
}
.fiber-info-section-memo-content li::marker {
  font-size: 10px;
  color: #888;
}

.fiber-info-section-memo-content__recompute-stat {
  color: #b58a3d;
}

.update-deps-table {
  border-collapse: collapse;
}
.update-deps-table th {
  vertical-align: bottom;
  font-weight: normal;
  position: relative;
  padding: 2px 4px;
}
.update-deps-table th:not(:first-child) {
  text-align: right;
}
.update-deps-table th:not(:first-child) div {
  writing-mode: vertical-lr;
  bottom: 0;
  display: inline;
  transform: translate(100%, 100%) rotate(215deg) translate(-5px, -2px);
  transform-origin: left top;
}
.update-deps-table th:not(:first-child) span {
  text-align: left;
  border-left: 1px solid #ccc;
  padding: 0 2px;
  font-size: 11px;
  color: #666;
}
.update-deps-table td {
  border: 1px solid #ddd;
  border-right: none;
  padding: 2px 4px;
  text-align: center;
  vertical-align: middle;
}
.update-deps-table .update-deps-table__row td:first-child {
  text-align: left;
  border-left: none;
  white-space: nowrap;
}

.update-deps-table td.shallow-equal::before,
.update-deps-table td.has-diff::before,
.update-deps-table td.no-diff::before {
  content: "";
}

.update-deps-table td.shallow-equal::before {
  content: "SE";
  padding: 3px 1px 2px;
  font-size: 7px;
  background: #fdfcde;
  border: 1px solid #ece3b0;
  border-radius: 7px;
  color: #b39b20;
  line-height: 1;
}
.update-deps-table td.has-diff::before {
  content: "±";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #e8e8e8;
  border-radius: 7px;
  color: #666;
  font-size: 10px;
  text-align: center;
}
.update-deps-table td.no-diff::before {
  content: "–";
  color: #ccc;
}

.update-deps-table__row:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.update-deps-table__row-details td {
  text-align: left;
}
.update-deps-table__row-details td > div {
  display: flex;
  gap: 4px;
  margin: 4px 0;
}
