.fiber-info-section-events {
  margin: 0 -8px 0 -16px;
}

.fiber-info-section-events__subtree-toggle {
  position: relative;
  top: -1px;
  align-items: baseline;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 4px;
  margin: -2px 0 -3px 4px;
  color: #888;
  font-size: 10px;
  line-height: 14px;
  border-radius: 8px;
}
.fiber-info-section-events__subtree-toggle svg {
  width: 12px;
  height: 12px;
}
.fiber-info-section-events__subtree-toggle::after {
  content: "include subtree";
  position: relative;
  padding: 0 0 0 4px;
  top: 1px;
}
