.component-search {
  flex: 1;
  display: flex;
  align-items: center;
}
.component-search::after {
  content: "";
  display: inline-block;
  height: 20px;
  border-right: 1px solid #ddd;
  align-self: center;
}

.component-search > svg {
  flex-basis: 0;
  min-width: 14px;
  margin-left: 6px;
  color: #ccc;
}
.component-search:focus-within > svg {
  color: #999;
}

.component-search input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 6px;
  border: none;
  outline: none;
  font: inherit;
  line-height: inherit;
  background-color: transparent;
  color: inherit;
}
.component-search input::placeholder {
  color: #ccc;
}

.component-search__buttons {
  padding: 0px 4px 0px 4px;
  margin-left: -4px;
  border-left: 1px solid #ccc;
  height: 15px;
  box-sizing: content-box;
}
.component-search__button {
  vertical-align: middle;
  padding: 2px 2px;
  margin-top: -10px;
  background: none;
  border: none;
  color: #777;
}
.component-search__button:not([disabled]):hover {
  cursor: pointer;
  color: #222;
}
.component-search__button svg {
  vertical-align: middle;
  height: 12px;
  margin: -2px 0 0;
}
