.component-search {
  flex: 1;
  display: flex;
  align-items: center;
}
.component-search::after {
  content: "";
  display: inline-block;
  height: 20px;
  border-right: 1px solid #ddd;
  align-self: center;
}

.component-search > svg {
  flex-basis: 0;
  min-width: 14px;
  margin-left: 6px;
  color: var(--icon);
}

.component-search input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 6px;
  border: none;
  outline: none;
  font: inherit;
  line-height: inherit;
  background-color: transparent;
  color: inherit;
}
.component-search input::placeholder {
  color: #aaa;
}

.component-search-matches-iterator {
  padding: 6px;
  white-space: nowrap;
  font-size: 12px;
  line-height: 12px;
  color: #888;
}
.component-search-matches-iterator__buttons {
  margin-left: 6px;
  padding-left: 2px;
  border-left: 1px solid #ccc;
}
.component-search-matches-iterator__button {
  vertical-align: middle;
  padding: 2px 2px;
  margin-top: -2px;
  background: none;
  border: none;
  color: #777;
}
.component-search-matches-iterator__button[disabled] {
  color: #ccc;
}
.component-search-matches-iterator__button:not([disabled]):hover {
  cursor: pointer;
  color: #222;
}
.component-search-matches-iterator__button svg {
  vertical-align: middle;
  height: 12px;
  margin: -2px 0 0;
}
