.selection-history-navigation {
  display: flex;
}
.selection-history-navigation::after {
  content: "";
  display: inline-block;
  height: 20px;
  border-right: 1px solid #ddd;
  align-self: center;
}
.selection-history-navigation__button {
  padding: 0;
  background: none;
  border: none;
  color: #666;
}
.selection-history-navigation__button_prev {
  border-left: 2px solid transparent;
}
.selection-history-navigation__button_next {
  border-right: 2px solid transparent;
}
.selection-history-navigation__button[disabled] {
  color: #aaa;
}
.selection-history-navigation__button:hover:not([disabled]) {
  cursor: pointer;
  color: #000;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-image: radial-gradient(
    circle at center,
    #f4f4f4 11px,
    transparent 11px
  );
}
.selection-history-navigation__button svg {
  vertical-align: middle;
  width: 22px;
  height: 20px;
}
