.toolbar {
  grid-area: toolbar;
  display: flex;
  flex-shrink: 0;
  border-bottom: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.75);
  line-height: 22px;
}
.toolbar__buttons {
  display: flex;
  align-items: center;
  margin: 2px;
  gap: 1px;
}
.toolbar__buttons-splitter {
  display: inline-block;
  height: 20px;
  border-left: 1px solid #ddd;
  margin: 0 1px;
}
