.toolbar {
  grid-area: toolbar;
  display: flex;
  flex-shrink: 0;
  border-bottom: 1px var(--border) solid;
  line-height: 22px;
}

.toolbar > div {
  flex: 1;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.toolbar > div + div {
  border-left: 1px var(--border) solid;
}
