.tree-leaf-caption {
  --padding-time: 2px 4px 1px;
  --padding-main: 1px 5px;

  display: flex;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 12px;
  line-height: 20px;
  background-color: white;
  cursor: pointer;
}

.tree-leaf-caption.no-events {
  color: #90bce5;
}

.tree-leaf-caption.render-root {
  --padding-time: 1px 4px 0px;
  --padding-main: 0px 5px;

  position: sticky;
  top: -1px;
  margin-top: -1px;
  z-index: 2;
  background-color: #f4f4f4;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.tree-leaf-caption.render-root .tree-leaf-caption__name {
  color: #666;
}
.tree-leaf:first-child .tree-leaf-caption.render-root + div {
  margin-top: 1px;
}

.tree-leaf-caption:hover {
  background-color: #eee;
}
.tree-leaf-caption:hover:not(.render-root):not(.selected) {
  box-shadow: -1px 0 0 1px #e6e6e6 inset;
}
.tree-leaf-caption.selected {
  background-color: #dde8f4;
}
.tree-leaf-caption.selected.render-root {
  background-color: #deebf7;
}
.tree-leaf-caption.unmounted .tree-leaf-caption__name {
  color: var(--text-muted);
  text-decoration: line-through;
  text-decoration-color: #888;
  transition: 0.25s;
  transition-property: color;
}

.tree-leaf-caption__timings {
  flex-basis: 90px;
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: inherit;
}
.tree-leaf-caption__time {
  display: inline-block;
  box-sizing: border-box;
  width: 45px;
  padding: var(--padding-time);
  text-align: right;
  border-right: 1px solid #ddd;
  font-size: 10px;
  color: #888;
}

.tree-leaf-caption__main {
  flex: 1;
  padding: var(--padding-main);
  padding-left: calc(var(--depth, 0) * 15px);
}

.tree-leaf-caption .highlight {
  margin: 0 0 -2px;
  border-radius: 0 0 2px 2px;
  border-bottom: 2px solid #e0bf08;
}

.tree-leaf-caption__name {
  margin-left: 17px;
  color: var(--primary);
}

.tree-leaf-caption__update-count {
  display: inline-block;
  margin-left: 4px;
  padding: 2px 4px 1px;
  font-size: 10px;
  line-height: 10px;
  min-width: 16px;
  background: #eaeac7;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.65);
  color: #949c35;
  text-align: center;
}
