.render-tree {
  grid-area: render-tree;
  overflow: auto;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  position: relative;
}
.render-tree__content {
  margin-top: -1px;
  display: table;
  min-width: 100%;
}
.render-tree__no-children {
  padding: 4px 20px;
  font-size: 11px;
  color: #aaa;
  user-select: none;
}
