.tree-leaf-caption {
  --padding-time: 2px 4px 1px;
  --padding-main: 1px 5px;
  --no-timing-padding: 2px;
  --scroll-margin-top: 23px;
  --scroll-margin-left: 2px;

  display: flex;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 12px;
  line-height: 20px;
  background-color: white;
  cursor: pointer;
}

.tree-leaf-caption.timings {
  --no-timing-padding: 0px;
  --scroll-margin-left: 90px;
}

.tree-leaf-caption.render-root {
  --padding-time: 1px 4px 0px;
  --padding-main: 0px 5px;
  --scroll-margin-top: 0;

  position: sticky;
  top: -1px;
  margin-top: -1px;
  z-index: 2;
  background-color: #f4f4f4;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.tree-leaf-caption.pinned:not(.render-root) {
  border-bottom: 1px solid #ddd;
}

.tree-leaf-caption:hover {
  background-color: #eee;
}
.tree-leaf-caption:hover:not(.render-root):not(.selected) {
  box-shadow: -1px 0 0 1px #e6e6e6 inset;
}
.tree-leaf-caption.selected {
  background-color: #dde8f4;
  cursor: default;
}
.tree-leaf-caption.selected.render-root {
  background-color: #deebf7;
}
.tree-leaf-caption.pinned .tree-leaf-caption__main {
  width: 0;
  overflow: hidden;
}
.tree-leaf-caption.pinned .tree-leaf-caption__main::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 14px;
  margin: -1px -15px 0 3px;
  background-image: url("./img/pin.svg");
  background-position: top center;
  background-size: 14px;
}

.tree-leaf-caption__timings {
  flex-basis: 90px;
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: inherit;
}
.tree-leaf-caption__time {
  display: inline-block;
  box-sizing: border-box;
  width: 45px;
  padding: var(--padding-time);
  text-align: right;
  border-right: 1px solid #ddd;
  font-size: 10px;
  color: #888;
}

.tree-leaf-caption__main {
  flex: 1;
  padding: var(--padding-main);
  padding-left: calc(var(--depth, 0) * 14px + var(--no-timing-padding));
}
.tree-leaf-caption__main-content {
  display: inline-block;
  padding-right: 4px;
  scroll-margin-top: var(--scroll-margin-top);
  scroll-margin-left: var(--scroll-margin-left);
}

.tree-leaf-caption .highlight {
  margin: 0 0 -2px;
  border-radius: 0 0 2px 2px;
  border-bottom: 2px solid #e0bf08;
}

.tree-leaf-caption__name {
  margin-left: 17px;
  color: var(--primary);
}
.tree-leaf-caption.no-events .tree-leaf-caption__name {
  color: #90bce5;
}
.tree-leaf-caption.render-root .tree-leaf-caption__name {
  color: #666;
}
.tree-leaf-caption.unmounted .tree-leaf-caption__name {
  color: var(--text-muted);
  text-decoration: line-through;
  text-decoration-color: #888;
  transition: 0.25s;
  transition-property: color;
}

.tree-leaf-caption__update-count,
.tree-leaf-caption__context-count {
  display: inline-block;
  margin-left: 4px;
  padding: 3px 4px 2.3px;
  font-size: 10px;
  line-height: 10px;
  min-width: 16px;
  border-radius: 3px;
  background: #eaeac7;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.65);
  color: #949c35;
  text-align: center;
}
.tree-leaf-caption__context-count {
  background: #eadcea;
  color: #ca8fd0;
}

.tree-leaf-caption__warnings {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 3px;
  margin-right: -1px;
  width: 11px;
  height: 11px;
  background: url("./img/warning-exc-sign.svg") no-repeat center #eab439;
  background-size: 7px;
  background-clip: content-box;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.65);
}

.tree-leaf-caption__unpin-button {
  margin: 2px 1px 2px;
  padding: 0px 4px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.075);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
}
.tree-leaf-caption__unpin-button:hover {
  opacity: 1;
}
