.app-bar {
  grid-area: appbar;
  display: flex;
  background-color: #fcfcfc;
}
.app-bar::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.app-bar__tab {
  font-size: 11px;
  padding: 0px 6px;
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #ddd;
  background-color: #f4f4f4;
  color: #888;
  user-select: none;
}
.app-bar__tab:hover {
  background-color: white;
  cursor: pointer;
}
.app-bar__tab.selected {
  color: inherit;
  border-bottom-color: transparent;
  background-color: white;
  cursor: default;
}
.app-bar__tab-badge {
  margin-left: 1ex;
  border-radius: 7px;
  font-size: 9px;
  line-height: 10px;
  color: #aaa;
}
.app-bar__tab-badge:empty {
  display: none;
}
