.tree-element__container {
  position: relative;
  margin-left: 20px;
}

.tree-element__container.root {
  margin-left: 0;
}

.tree-element__container.root + .tree-element__container.root {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #ddd;
}
